.pembayaran {
   @apply flex;

   &__search {
      @apply w-1/2 mx-auto mt-6;
   }

   &__sidebar {
      @apply w-3/12 h-fit py-3 px-3;
      @apply rounded-lg;
      @apply bg-white shadow-lg;

      &__list {
         @apply mt-2;
      }

      &__item {
         @apply flex items-center gap-3;
         @apply py-3 px-4;
         @apply text-base font-semibold capitalize text-gray-400;
         @apply cursor-pointer;
      }
   }

   &__info-siswa {
      @apply flex items-center;
      &__icon {
         @apply max-w-fit p-4;
         @apply text-verdigris;
         @apply border-2 rounded-full border-verdigris;
      }
      &__detail {
         @apply ml-4;
         p {
            @apply text-base uppercase font-semibold text-verdigris;
         }
         p:last-child {
            @apply mt-1.5;
            @apply text-xs font-semibold text-gray-400;
         }
      }
   }

   &__catatan {
      @apply w-4/12 #{!important};

      &__new-item {
         @apply flex flex-col gap-2;
         @apply mb-2;
      }

      &__list {
         max-height: 600px;
         @apply overflow-x-scroll;
      }

      &__item {
         @apply p-3 mb-3;
         @apply text-sm font-semibold text-verdigris;
         @apply border-2 border-verdigris rounded-lg shadow-lg bg-white;
         @apply cursor-pointer;
         &-info {
            @apply flex justify-between items-center;
            // @apply mt-2;
         }
         &-date {
            @apply flex items-center gap-3;
         }
         &:hover {
            @apply text-white;
            @apply bg-verdigris;
         }
      }
   }
   &__catatan-detail {
      @apply w-4/12;
      &__right-nav {
         @apply flex gap-1.5 items-center;
         @apply font-semibold text-verdigris;
      }
      &__footer {
         @apply flex gap-3 items-center;
         @apply text-verdigris;

         &__delete-icon {
            @apply p-1;
            @apply border-2 rounded border-verdigris;
            @apply cursor-pointer;
            &:hover {
               @apply text-white;
               @apply bg-verdigris;
            }
         }
      }
   }
   &__tagihan {
      @apply w-4/12;
      &__list {
         max-height: 600px;
         @apply overflow-x-scroll;
      }

      &__item {
         @apply flex flex-1 self-stretch;
         @apply mt-2 p-2;
         @apply text-sm font-medium uppercase;
         @apply border-2 rounded-lg border-verdigris;

         &__detail {
            @apply w-full pl-2;
         }

         &__keterangan {
            @apply flex justify-between;
            @apply text-verdigris;
         }

         &__checkbox-cicilan {
            @apply flex items-center;
            @apply mr-2;
            @apply text-xs font-medium text-gray-400;
         }
      }
   }
   &__ringkasan-tagihan {
      @apply w-4/12;

      &__list {
         @apply px-2;
      }
      &__item {
         @apply flex justify-between;
         @apply mb-2;
         @apply text-base font-semibold uppercase text-verdigris;
      }

      &__total {
         @apply mt-20 px-2 pt-6;
         @apply border-t-2 border-verdigris;
      }

      &__metode-pembayaran {
         @apply px-2;
         @apply text-base font-semibold uppercase text-gray-400;
      }
   }
   &__riwayat {
      @apply w-9/12;
   }
}
