.sidebar {
  @apply fixed;
  @apply w-72 h-screen px-4;
  @apply bg-white;

  &-logo {
    @apply py-10;
    @apply text-center;
    @apply text-2xl capitalize;
  }

  &__item {
    color: #8f9093;
    // @apply flex items-center;
    @apply w-64 py-3 my-1 px-4;
    @apply rounded-lg;
    @apply text-sm font-semibold capitalize;
  }

  &__link {
    @apply flex items-center;

    span {
      @apply pl-3;
    }

    &--active {
      span {
        color: #41c3a9;
      }
    }
  }

  & > p {
    color: #8f9093;
    @apply mb-4 pl-4;
    @apply text-sm font-semibold capitalize;
  }

  &__item:hover {
    background-color: #def2f0;
  }
  &__item--active {
    background-color: #def2f0;
  }
}
